<% stylesheet_link_tag "book" %>

<!--<div id="boka_resa_content" style="display: none">-->
  <!--<div>-->
    <!--<ol id="steps" class="cf step-1">-->
      <!--<li id="step-1"><strong>Search and book</strong></li>-->
      <!--<li id="step-2">Type of accommodation</li>-->
      <!--<li id="step-3">Personal Information</li>-->
      <!--<li id="step-4">Optional</li>-->
      <!--<li id="step-5">Confirm and pay</li>-->
    <!--</ol>-->

    <!--<h1>Search</h1>-->


  <!--</div>-->

  <!--<div>-->
    <!--<div id="test"></div>-->
    <!--<form method="get">-->
      <!--<div id="select-top">-->
        <!--<input class="sol-sommar" type="radio" value="Sol - Sommar" name="book_type">Sun - Summer-->
        <!--<input class="sol-vinter"  type="radio" value="Sol - Vinter" name="book_type">Sun - Winter-->
        <!--<input class="skidresor" type="radio" value="Skidresor" name="book_type">Skidresor-->
      <!--</div>-->


      <!--<div id="select-l">-->
        <!--<label>I want to go:</label>-->
        <!--<select>-->
          <!--<option value="1">1</option>-->
          <!--<option value="2">2</option>-->
        <!--</select>-->

        <!--<label>Departure Date:</label>-->
        <!--<select>-->
          <!--<option value="1">1</option>-->
          <!--<option value="2">2</option>-->
        <!--</select>-->

        <!--<label>Number of weeks:</label>-->
        <!--<select name="n1" id="week">-->
          <!--<option value="1">1</option>-->
          <!--<option value="2">2</option>-->
        <!--</select>-->

        <!--<label>I want to go from:</label>-->
        <!--<select>-->
          <!--<option value="1">1</option>-->
        <!--</select>-->

        <!--<div id="sub">-->
          <!--<input type="submit">-->
          <!--<p>We accept these cards:</p>-->
          <!--< %= image_tag "creditcards-SE.gif" %>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div id="select-r">-->
        <!--<label>Adults:</label>-->
        <!--<select name="n2" id="adult">-->
          <!--<option value="1">1</option>-->
          <!--<option value="2">2</option>-->
          <!--<option value="3">3</option>-->
          <!--<option value="4">4</option>-->
          <!--<option value="5">5</option>-->
          <!--<option value="6">6</option>-->
          <!--<option value="7">7</option>-->
          <!--<option value="8">8</option>-->
        <!--</select>-->

        <!--<label>Children: 0-12 years (for Guadeloupe for 0-15 years)</label>-->
        <!--<select id="child">-->
          <!--<option value="1">1</option>-->
          <!--<option value="2">2</option>-->
          <!--<option value="3">3</option>-->
          <!--<option value="4">4</option>-->
          <!--<option value="5">5</option>-->
          <!--<option value="6">6</option>-->
          <!--<option value="7">7</option>-->
          <!--<option value="8">8</option>-->
        <!--</select>-->


        <!--<label>Campaign</label>-->
        <!--<input type="text">-->

        <!--<div id="area-1">-->
          <!--< %= image_tag "information.png" %>-->
          <!--Children 0-24 months are counted as a baby. Fills the child two years during the trip count as 2 years.-->
        <!--</div>-->

        <!--<div id="area-2">-->
          <!--< %= image_tag "icon-help.png" %>-->
          <!--Support for online booking<br>-->
          <!--Tel: 0771-12 12 12<br>-->
          <!--Mon-Fri 08.00-19.00<br>-->
          <!--Sat 10.00-15.00<br>-->
          <!--Sun 10.00-15.00<br>-->
        <!--</div>-->

      <!--</div>-->
    <!--</form>-->
  <!--</div>-->

  <!--<div>-->

  <!--</div>-->

<!--</div>-->
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "jq" %>
