<script language="javascript" type="text/javascript">
    var rootURL = window.location.protocol + "//" + window.location.host+ "/";
    if(rootURL == document.location.href){
        location.href='/start';
    }
    //if directory is root directory, redirect /start directory

</script>
<!--<div id="booking">-->
  <!--<p id="book_type" name= < %= $book_type.to_s %>></p>-->
  <!--<p id="weeks" name= < %= $weeks.to_s %>></p>-->
  <!--<p id="adults" name= < %= $adults.to_s %>></p>-->
  <!--<p id="children" name= < %= $children.to_s %>></p>-->
<!--</div>-->
<!--< %= stylesheet_link_tag "show" %>-->

<!--< % if @page.title == 'About' %>-->
    <!--< %= render "test"  %>-->
<!--< % end %>-->
<!--< %= render '/refinery/content_page' %>-->


<!--<div class="main_body">-->

  <!--<div id="nav_main">-->
    <!--nav_main-->
  <!--</div>-->


  <!--<div class="container-fluid main_content">-->

    <!--< % if @page.title=='home'%>-->
        <!--< %= render "home"  %>-->
    <!--< % elsif @page.title== 'book'%>-->
        <!--< %= render "book" %>-->
    <!--< % elsif @page.title== 'show'%>-->
        <!--< %= render "show" %>-->
    <!--< % end %>-->



  <!--</div>-->

<!--</div>-->


<!--
    <h1>I'm the template</h1>


     < %=raw @@article_shared %>




