<%= stylesheet_link_tag "footer" %>

<div id="footer" class="cf">

  <h2 class="structural">Language</h2>

  <ul id="alt-languages">


    <li><a href="/en/welcome-to-langley/">In English</a></li>



    <li><a href="/no/">In Norwegian</a></li>



    <li><a href="/dk/">In Denmark</a></li>



    <li><a href="/fi/">Finnish</a></li>


  </ul>

  <h2 class="structural">More information</h2>

  <div id="nav-supp-2">
    <strong class="structural">Help Links:</strong>

    <ul>

      <li><a href="/sv/kontakta-oss/">Contact us</a></li>

      <li><a href="/sv/om-webbplatsen/">About this site</a></li>

      <li><a href="/sv/webbkarta/">Sitemap</a></li>

    </ul>

  </div>



  <div class="cols cf">

    <div class="col first">
      <h3>Langleys travel:</h3><!--Elements under header of this column-->
      <ul>
        <li><a href="http://www.langley.eu/sv/solresor-sommar/">ORG</a></li>
        <li><a href="http://www.langley.eu/sv/skidresor/">Business Travel</a></li>
        <li><a href="http://www.langley.eu/sv/karibien/">Caribbean</a></li></ul></div><!--Column 2-->
    <div class="col"><!--Header of this column-->
      <h3>Booking a travel:</h3><!--Elements under header of this column-->
      <ul>
        <li><a href="http://www.langley.eu/sv/boka-resa/sok-och-boka/">online booking</a></li>
        <li><font color="white">Telephone 0771 121212</font></li></ul></div><!--Column 3-->
    <div class="col"><!--Header of this column-->
      <h3>See more Langley:</h3><!--Elements under header of this column-->
      <ul>
        <li><a href="http://www.facebook.com/langley.eu" target="_blank">facebook.com</a></li>
        <li><a href="http://www.twitter.com/langleytravel" target="_blank">twitter.com</a></li>
        <li><a href="https://plus.google.com/u/0/100667052675952505683/posts" target="_blank">Google+</a> </li>
        <li><a href="http://www.youtube.com/langleytravel" target="_blank">YouTube</a> </li></ul></div><!--Elements under header of this column-->
    <div class="col">
      <ul>
        <li><a href="/sv/om-langley/bestalla-information/Email/">Subscribe to Newsletter</a></li>
        <li><a href="http://www.langley.eu/stories" target="_blank">Langley Stories</a></li>
        <li><a href="/sv/Konferens/">Conference</a></li></ul></div>

  </div>


</div>

</div>

<p>
  <!--%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>

