<%= stylesheet_link_tag "footer" %>

<div id="footer">
    <div id="footer_top">
      <div class="col" id="footer_left">
          <ul>
            <li><a href="/en/welcome-to-langley/">In English</a></li>
            <li><a href="/no/">In Norwegian</a></li>
            <li><a href="/dk/">In Denmark</a></li>
            <li><a href="/fi/">Finnish</a></li>
          </ul>
      </div>
    
      <div class="col" id="footer_right">
        <ul>
          <li><a href="/sv/kontakta-oss/">Contact us</a></li>
          <li><a href="/sv/om-webbplatsen/">About this site</a></li>
          <li><a href="/sv/webbkarta/">Sitemap</a></li>
        </ul>
      </div>
    </div>

  <div>
    <div class="col">
      <h3>Langleys travel:</h3>
      <ul>
        <li><a href="http://www.langley.eu/sv/solresor-sommar/">ORG</a></li>
        <li><a href="http://www.langley.eu/sv/skidresor/">Business Travel</a></li>
        <li><a href="http://www.langley.eu/sv/karibien/">Caribbean</a></li></ul></div>
    <div class="col">
      <h3>Booking a travel:</h3>
      <ul>
        <li><a href="http://www.langley.eu/sv/boka-resa/sok-och-boka/">online booking</a></li>
        <li><font color="white">Telephone 0771 121212</font></li></ul></div>
    <div class="col">
      <h3>See more Langley:</h3>
      <ul>
        <li><a href="http://www.facebook.com/langley.eu" target="_blank">facebook.com</a></li>
        <li><a href="http://www.twitter.com/langleytravel" target="_blank">twitter.com</a></li>
        <li><a href="https://plus.google.com/u/0/100667052675952505683/posts" target="_blank">Google+</a> </li>
        <li><a href="http://www.youtube.com/langleytravel" target="_blank">YouTube</a> </li></ul></div>
    <div class="col">
      <ul>
        <li><a href="/sv/om-langley/bestalla-information/Email/">Subscribe to Newsletter</a></li>
        <li><a href="http://www.langley.eu/stories" target="_blank">Langley Stories</a></li>
        <li><a href="/sv/Konferens/">Conference</a></li></ul></div>
  </div>

</div>



