/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */
 /*= require_self */
 /*= require_bootstrap */
 /*= require_tree */

*{
    padding: 0px;
    margin: 0px;
}

#page_container {
    text-align: center;
    margin: 0 auto;
    width: 960px;
}


#body_content_title{
    display: none;
}
#site_bar{
    display: none;
}






#nav_main{
    display: none;
    height: 52px;

    margin: 0 5px;
    box-shadow: -2px 0 0 gray,  0 0px 0 gray, 0 0px 0 gray, 2px 0 0 gray;
}



.main_body{
    -webkit-box-shadow: 0 1px 3px rgba(255, 255, 120, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(255, 255, 120, 0.5);
    box-shadow: 0 1px 3px rgba(255, 255, 120, 0.5);
    text-shadow: 0 1px 2px rgba(125, 125, 125, 0.3);
    box-shadow: -2px 0 0 gray,  0 0px 0 gray, 0 0px 0 gray, 2px 0 0 gray;
}

.foot_arrow{
    text-align: left;
    padding-left:20px;
    color: #999;
    float: left;
    margin-left:-15px;
    width: 950px;
    height: 40px;
}


h1,h2,h3,h4,h5,h6 {
    color:#000;
    font:normal 1em/1.0 "Trebuchet MS", Arial, Helvetica, sans-serif;
}
h1 {
    margin:10px 0px 6px 0px;
    color:#0ca6e3;
    font-size:2.5em;
}
h2 {
    margin:0 0 0.3em;
    color:#9f0608;
    font-size:1.5em;
}
h3 {
    margin:1em 0 0.4em;
    color:#9f0608;
    font-size:1.2em;
}
h4 {text-transform:uppercase;}
h5 {font-style:italic;}
h6 {
    font-weight:normal;
    font-style:italic;
}
legend {color:#333;}
a:link {color:#0ca6e3;}
a:visited {color:#0ca6e3;}
a:hover {color:#0ca6e3;}
a:focus,
a:active {
    color:#fff;
    background:#000;
}

/* Easy clearing of floats (see http://positioniseverything.net/easyclearing.html) */
.cf:after {display:block;clear:both;height:0;visibility:hidden;content:".";}
.cf {display:inline-block;}
* html .cf {height:1px;}
.cf {display:block;}

/* System messages */
.system-info {
    margin:1em 0;
    padding:0 12px 36px;
    border-top:2px solid;
}
.system-info h2,
.system-info h3 {
    margin:0 -12px;
    padding:2px 12px 4px;
    font-size:1.1em;
    background:url(/i/system-info-header-bg.png) repeat-x 0 100%;
}
.system-info p {margin:1em 0;}
.system-info ul {margin-top:1em;}
.error-message {
    color:#900;
    background:#fff2f2 url(/i/error-bg.gif) no-repeat 0 100%;
}
.confirmation,
.message {
    color:#090;
    background:#f2fff2 url(/i/confirmation-bg.gif) no-repeat 0 100%;
}
.error-message h2,
.error-message h3 {
    color:#fff;
    background-color:#900;
}
.confirmation h2,
.confirmation h3,
.message h2,
.message h3 {
    color:#fff;
    background-color:#090;
}
.non-html strong {font-weight:normal;}
.read-more {text-align:right;}
.read-more a span {
    position:absolute;
    left:-9999px;
}
.info {
    clear:both;
    padding-left:20px;
    background:url(/i/information.png) no-repeat 0 2px;
    font-size:1em;
}
.info.reduction {
    padding:3px 3px 3px 23px;
    border:1px solid #c3c175;
    background-color:#fffeab;
    background-position:3px 3px;
}
.websupport {
    margin:5px 0;
    padding:3px 3px 3px 23px;
    border:1px solid #c4c4c4;
    background:#f2f2f2 url(/i/icon-help.png) no-repeat 4px 4px;
}
.websupport * {margin:0;}
.m-c .websupport,
#m-book-login .websupport  {
    float:right;
    width:182px;
    margin:5px 0 5px 11px;
}
.m-c .col-1 .websupport {
    float:none;
    margin:10px 0 5px;
}
#booking-options-form .websupport {
    float:none;
    margin:5px 0;
}
.col-2 .websupport {
    position:relative;
    float:none;
    width:auto;
    margin:5px 0 -6em 0;
}
#m-book-login .websupport {width:40%;}

.loading {
    /*	padding:10px 20px 10px 34px;
     color:#fff;
     background:#474747 url(/i/lightbox-ico-loading.gif) no-repeat 0 50%;
     */
    clear:both;
    padding:3px 3px 3px 23px;
    border:1px solid #c3c175;
    background:#fffeab url(/i/ajax-loader2.gif) no-repeat 3px 3px;
}

/* Structural elements, not visible when CSS is enabled */
.structural {
    position:absolute;
    left:-9999px;
}
/* Images */
.left,
.right {
    float:left;
    width:auto;
    margin:3px 9px 3px 0;
}
.right {
    float:right;
    margin:3px 0 3px 9px;
}
img.dec {
    padding:3px;
    border:1px solid #ccc;
}
.caption,
.caption em {display:block}
.caption em {font-style:normal}
.caption img.left,
.caption img.right {
    float:none;
    margin:0;
    padding:0;
    border:none;
}
.caption p,
.caption em {margin-bottom:0;}

/* Forms */
.form-general {
    margin:0;
}
.form-general label {
    display:block;
    margin:0.5em 4px 0 0;
    font-weight:bold;
}
.form-general label em {

    font-weight:normal;
}
.form-general input,
.form-general select,
.form-general textarea {
    margin:0;
    border:1px solid #0ca6e3;

    font-size:1em;
}
.form-general .alt {
    display:inline;
    margin:0 12px 0 0;
}
.text,
.radio,
.checkbox,
.select {margin:0 0 3px;}
.text input {
    width:30em;
    padding:2px 3px;
    background:#eee;
}
.text textarea {
    width:30em;
    height:10em;
    padding:2px 3px;
    background:#eee;
}
.pwd input {
    width:6em;
    padding:2px 3px;
    background:#eee;
}
.select select {
    margin:0;
    background:#eee;
}
.form-general fieldset {
    margin:1em 0;
    padding:5px 8px;
    border:1px solid #ccc;
}
.checkbox input,
.radio input {
    vertical-align:middle;
    border:none;
}
.checkbox label,
.radio label {
    display:inline;
    margin-left:4px;
    vertical-align:middle;
}
.alt label {display:inline;}
.alt-2 .select {
    float:left;
    margin-right:1em;
}
.text.error label,
.error legend {

}
.submit-area {margin:1em 0 0.5em;}
.submit-area input {
    width:53px;
    margin:0;
    padding:1px 5px;
    border:none;
    color:#fff;

    font-weight:bold;
    font-size:1em;
}


#footer {
    clear:both;
    min-height:45px;
    padding:0 22px 22px;
    background:#9f0608 url(/i/header-footer-bg.jpg) no-repeat 0 100%;
}
#main {
    padding:22px 27px;
    background:url(/i/main-bg.jpg) no-repeat;
}

/*
=Layouts
*/
/* Layout 0 - 1 wide column with sidebar (hotels page with no nav-sub) */



/*
=Main navigation
*/
#nav-main {
    clear:both;
    margin:0 5px;
    background:url(/i/nav-main-bg.gif) bottom left repeat-x;
}
#nav-main ul {
    float:left;
    margin:0;
    list-style:none;
    line-height:1.4;
    font-size:1.2em;
}
#nav-main li {
    float:left;
    margin-right:-22px;
    padding-left:16px;
    background:url(/i/tab-left.png) no-repeat 0 100%;
}
#nav-main #tab-1 {position:relative; z-index:7;}
#nav-main #tab-2 {position:relative; z-index:6;}
#nav-main #tab-3 {position:relative; z-index:5;}
#nav-main #tab-4 {position:relative; z-index:4;}
#nav-main #tab-5 {position:relative; z-index:3;}
#nav-main #tab-6 {position:relative; z-index:2;}
#nav-main #tab-7 {position:relative; z-index:1;}
#nav-main li.sel {
    position:relative;
    background:url(/i/tab-sel-left.png) no-repeat 0 100%;
    z-index:10 !important; /* instead of triggering each tab id */
}
#nav-main li a {
    float:left;
    padding:12px 34px 2px 10px;

    background:url(/i/tab-right.png) no-repeat 100% 100%;
    text-decoration:none;
    text-align:center;
}
#nav-main li.sel a {

    background:url(/i/tab-sel-right.png) no-repeat 100% 100%;
}
#nav-main li a:focus,
#nav-main li a:hover {

}
#nav-main li.first * {border-left:none;}
/* Second nav-main */
#nav-main-2 {
    clear:both;
    margin:-20px -22px 5px;
    padding:0 0 18px;
    background:url(/i/nav-main-2-bg.gif) repeat-x 0 100%;
}
#nav-main-2 ul {
    margin:0 20px;
    list-style:none;
    font-size:1.2em;
}
#nav-main-2 li {
    float:left;
    padding-left:8px;
}
#nav-main-2 li a {
    float:left;
    padding:6px 14px 6px 6px;

    text-decoration:none;
}
#nav-main-2 li a:focus,
#nav-main-2 li a:hover,
#nav-main-2 li a:active,
#nav-main-2 li.sel a {

    background:transparent;
}
#nav-main-2 li.sel {
    background:url(/i/nav-main-2-sel.gif) no-repeat 0 50%;
}
#nav-main-2 li.sel a {
    font-weight:bold;
    background:url(/i/nav-main-2-sel.gif) no-repeat 100% 50%;
}

/*
=Sub navigation
*/
#nav-sub .submit-area {
    clear:both;
    padding-top:5px;
}
#nav-sub ul {
    margin-left:0;
    list-style:none;
    font-size:1.1em;
}
#nav-sub ul ul {font-size:1em;}
#nav-sub li {margin-top:5px;}
#nav-sub li a {
    background:url(/i/arrow-gold.gif) no-repeat 0 3px;
    display:block;
    padding:5px 5px 3px 24px;

    line-height:1.2;
    text-decoration:none;
}
#nav-sub li a:hover,
#nav-sub li a.sel:hover {

}
#nav-sub li a.sel {
    background:url(/i/arrow-gold-down.gif) no-repeat 0 3px;
    font-weight:bold;
}
#nav-sub li li a {
    margin-left:20px;
    padding:2px 2px 2px 12px;
    margin-top:0px;
    background:url(/i/arrow-subnav-right.gif) no-repeat 0 50%;
}
#nav-sub li a.sel {font-weight:bold;}
#nav-sub li li a.sel {

    background:url(/i/arrow-subnav-right.gif) no-repeat 0 50%;
    font-weight:bold;
}
#nav-sub li li li a {margin-left:30px;}
#nav-sub li li li li a {margin-left:40px;}
/* Search trips */
#nav-sub .m-h h2 {
    margin:-9px -10px 0;
    padding:8px 10px;
    color:#333;
    background:url(/i/m-h-bg.gif) repeat-x 0 100%;
    font-size:1.2em;
}
#nav-sub .m-h h2 span {
    padding-left:18px;
    background:url(/i/arrow-grey-down.gif) no-repeat 0 50%;
}
.layout-1 #nav-sub .m-c {min-height:319px;}
.layout-2 #nav-sub .m-c {min-height:167px;}
#nav-sub .m-c .select select {
    max-width:90%;
    margin-top:4px;
}
#nav-sub .m-c .select img {display:inline;}
#nav-sub .m-c .col-1 select,
#nav-sub .m-c .col-2 select {width:auto;}
#nav-sub .m-c .col-1 label,
#nav-sub .m-c .col-2 label {white-space:nowrap;}
/* Reset values for extra teaser under sub-navigation */
#nav-sub #m-extra .m-h h2 {
    margin:0;
    padding:0;
    background:none;
    font-size:1.2em;
}
#nav-sub #m-extra .m-c {min-height:25px;} /* CHANGED was 205px, reducing to have no empty space*/

/*
=Supplemental navigation
*/
#nav-supp ul {
    float:left;
    margin:5px 0 0;
    list-style:none;
}
#nav-supp li {
    float:left;
    margin:0 -5px;
    padding-left:16px;
}
#nav-supp li a {
    float:left;
    padding:10px 16px 10px 0;
}
#nav-supp li a:focus,
#nav-supp li a:active {
    background-color:transparent;
}
#nav-supp li.sel {
    background:url(/i/tab2-left.png) no-repeat 0 0;
}
#nav-supp li.sel a {
    background:url(/i/tab2-right.png) no-repeat 100% 0;
    text-decoration:none;
}
#nav-supp li.sel a:link,
#nav-supp li.sel a:visited {color:#000;}
/* footer navigation / language selection */
#footer .cols {
    clear:both;
    font-size:0.94em;
    line-height:1.3;
}
#footer .col {
    float:left;
    width:16.1%;
}
#footer .col ul {
    margin:0;
    list-style:none;
}
#footer .col ul ul {margin-left:1em;}
#footer .col h3 {
    margin:0;
    font-size:1em;
    color:#fff;
}
#footer .col a:link,
#footer .col a:visited {color:#c0e1ff;}
#alt-languages {
    float:left;
    width:60%;
    margin:0;
    padding:8px 0 6px;
    color:#fff;
}
.hotels #alt-languages { /* on Langley Hotel site */
    position:absolute;
    top:10px;
    right:22px;
    width:auto;
}
#nav-supp-2 {
    float:right;
    color:#fff;
}
#nav-supp-2 ul {
    padding:8px 0 6px;
}
#nav-supp-2 li {
    display:inline;
    padding-left:8px;
}
#alt-languages li {
    display:inline;
    padding-right:8px;
}
#alt-languages a:link,
#alt-languages a:visited,
#nav-supp a:link,
#nav-supp a:visited,
#nav-supp-2 a:visited,
#nav-supp-2 a:link {color:#fff;}

