/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */
 /*= require_self */
 /*= require_bootstrap */
 /*= require_tree */


*{
    padding: 0px;
    margin: 0px;
}
body{
    background: url(bg.gif) repeat-x;
}
#page_container {
    position:relative;
    max-width:960px;
    margin:10px auto;
    background: url(body-bg.gif) repeat-y;
}
#header {
    position:relative;
    margin-top:0px;
    background:#808080 url(header-footer-bg.jpg) no-repeat;
}
#footer {
    clear:both;
    min-height:45px;
    padding:0 22px 22px;
    background:#9f0608 url(header-footer-bg.jpg) no-repeat 0 100%;
}
#page {
    /*padding:22px 27px;*/
    background:url(main-bg.jpg) no-repeat;
}



h1,h2,h3,h4,h5,h6 {
    color:#000;
    font:normal 1em/1.0 "Trebuchet MS", Arial, Helvetica, sans-serif;
}
h1 {
    margin:10px 0px 6px 0px;
    color:#0ca6e3;
    font-size:2.5em;
}
h2 {
    margin:0 0 0.3em;
    color:#9f0608;
    font-size:1.5em;
}
h3 {
    margin:1em 0 0.4em;
    color:#9f0608;
    font-size:1.2em;
}
h4 {text-transform:uppercase;}
h5 {font-style:italic;}
h6 {
    font-weight:normal;
    font-style:italic;
}
legend {color:#333;}
a:link {color:#0ca6e3;}
a:visited {color:#0ca6e3;}
a:hover {color:#0ca6e3;}
a:focus,
a:active {
    color:#fff;
    background:#000;
}


#body_content_title{
    display: none;
}

/* Structural elements, not visible when CSS is enabled */

/* Images */


/* Forms */
