#header{
    margin-top: 25px;
    margin-bottom: -10px;
    height: 113px;/*110px*/
    background: #9f0608;
    -webkit-border-radius:8px 8px 0 0;
    border-radius:8px 8px 0 0;
    -moz-border-radius:8px 8px 0 0;
    box-shadow: -2px 0 0 gray,  0 -2px 0 gray, 0 0px 0 gray, 2px 0 0 gray;    //左上下右
}
#logo{
    display: none;
}

#new-logo{
    float:left;
}

.form-search{
     width:250px;
    float: right;
    background-color: #9f0608;
}




#menu {
    float:left;
    width:100%;
    background:#dff;
    line-height:normal;
}

#menu li {
    display:inline;
    margin-right: 5px;
}


