select{
    width:100px;
    .span2{
        width:80px;
    }
}
.main_content{
    width: 892px;

    .left_content{

        margin-top: 20px;
        float:left;


        .left_check{

            font-size: 80%;
            label{
                font-size: 80%;
            }
            img{
                margin-top: -40px;
                margin-left: 13px;
            }
            -webkit-border-radius:8px;
            border-radius:8px;
            -moz-border-radius:8px;
            form{
                text-align: left;
            }

            width: 210px;
            height: 395px;//365px
            background-color: #ffffff;
            box-shadow: -2px 0 0 #DDCCCC,  0 -2px 0 #DDCCCC, 0 2px 0 #DDCCCC, 2px 0 0 #DDCCCC;

            margin-bottom: 20px;
        }
    }



    .right_content{
    //background-color: green;
        margin-left: 20px;
        width:662px;
        margin-top: 20px;
        float: left;
        .right_top{
        //background-color: yellow;

        }
        .right_middle_bar{
            margin-top: 15px;
            height:36px;
            background-color:white;
            box-shadow: -2px 0 0 #DDCCCC,  0 -2px 0 #DDCCCC, 0 2px 0 #DDCCCC, 2px 0 0 #DDCCCC;
            -webkit-border-radius:8px;
            border-radius:8px;
            -moz-border-radius:8px;

        }
        .right_middle_box{

            box-shadow: -2px 0 0 #DDCCCC,  0 -2px 0 #DDCCCC, 0 2px 0 #DDCCCC, 2px 0 0 #DDCCCC;

            width: 205px;
            height: 243px;
        //background: #8a2be2;
            float: left;
            margin-top:15px;
            margin-bottom: 15px;
            -webkit-border-radius:8px;
            border-radius:8px;
            -moz-border-radius:8px;
        }
        .box_first {
            margin-right:22px;
        }
        .box_second{
            margin-right: 22px;
        }

        .img_text{
            float: left;
            margin-right:18px;
        }

        .photos{
            width: 432px;
            height: 224px;
            background: pink;
            float: left;

            -webkit-border-radius:8px;
            border-radius:8px;
            -moz-border-radius:8px;
        }


    }

}









